*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  color: currentColor;
  text-decoration: none;
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.tools {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 40px;

  @media only screen and (max-width: 400px) {
    flex-direction: column;
  }
}

.util {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 8px;
}
.title {
  padding-left: 65px;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #f1f1f1;
  background-image: linear-gradient(
      90deg,
      transparent 50px,
      #ffb4b8 50px,
      #ffb4b8 52px,
      transparent 52px
    ),
    linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
  background-size: 100% 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
  position: sticky;
}

.active {
  position: relative;
  height: 100%;
  padding: 4px;
  border: 2px solid #000;
  background: #e8e8e8;
  user-select: none;
  white-space: nowrap;
  transition: all 0.05s linear;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active:before,
.active:after {
  content: '';
  position: absolute;
  background: #e8e8e8;
  transition: all 0.2s linear;
}

.active:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

.active:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
}

.active:hover {
  cursor: crosshair;
}

.active:active {
  transform: scale(0.95);
}

.active:hover:before {
  height: calc(100% - 32px);
  top: 16px;
}

.active:hover:after {
  width: calc(100% - 32px);
  left: 16px;
}

.active span {
  font-size: 20px;
  z-index: 3;
  position: relative;
  font-weight: 600;
  background: transparent;
}
