.list {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media only screen and (max-width: 406px) {
    gap: 10px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;

  padding: 30px;
  border-radius: 5px;
  background: #fa93e4;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  transform: rotate(-2deg);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width: 406px) {
    width: 100px;
    height: 100px;
    padding: 10px;
  }
}
.card:nth-child(even) {
  background: #ebfa93;
}

.card:active {
  animation: shake 0.5s ease-in-out;
}
.card:hover {
  transform: rotate(0deg) scale(1.02);
  box-shadow: 20px 20px 0 #000;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
